/* * {
  border: 1px solid red;
} */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
}

a {
    text-decoration: none;
}

nav {
    grid-area: sidebar;
    background-color: #1992d4;
    color: white;
    font-weight: 500;
    padding: 2rem;
}

ul {
    list-style: none;
    padding: 0;
}

header {
    padding: 1rem 2rem;
    grid-area: header;
    background-color: white;
}

.header-top {
    display: grid;
    grid-template-columns: auto 3fr auto auto auto;
    align-items: center;
    gap: 1rem;
}

.header-bottom {
    display: grid;
    grid-template-columns: repeat(6, auto);
    align-items: center;
    gap: 1rem;
}

.main-content {
    padding: 1rem 2rem;
    grid-area: main;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1.5rem;
}

.projects {
    margin-top: 4.2rem;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    align-content: start;
    position: relative;
}

.projects h2 {
    position: absolute;
    top: -4.2rem;
}

.card,
.container {
    background-color: white;
    padding: 2rem 1.5rem;
    border-radius: 10px;
}

.card {
    height: 250px;
}