/* * {
  border: 1px solid red;
} */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    font-weight: 600;
}

nav {
    grid-area: sidebar;
    background-color: #1992d4;
    color: white;
    font-weight: 500;
    padding: 2rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 2rem;
    margin-bottom: 3rem;
}

ul {
    list-style: none;
    padding: 0;
}

ul.menu > li > a {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    padding-left: 0.5rem;
}

li > a > img,
.header-top-left > img,
.card-icons img {
    width: 28px;
}

header {
    padding: 1rem 4rem;
    grid-area: header;
    background-color: white;
}

.header-top,
.header-bottom {
    display: flex;
    justify-content: space-between;;
}

.header-top-left {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 1rem;
}

input {
    appearance: none;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    background-color: #e2e8f0;
}

input:focus {
    outline: none;
    border: 2px solid lightgray;
}

#search {
    width: 100%;
}

.header-top-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    gap: 2rem;
}

.header-top-right .user {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.header-top-right img.avatar {
    width: 3.25rem;
}

.header-bottom-left img.avatar {
    width: 5rem;
}

.header-bottom {
    margin: 1.5rem 0 0.5rem 0;
}

.header-bottom-left {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 1.2rem;
}

.header-bottom-left p {
    font-weight: 500;
    margin: 0 0 0.2rem 0;
}

.header-bottom-left p:nth-child(2) {
    font-size: 1.6rem;
}

.header-bottom-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    gap: 2rem;
}

button {
    background-color: #1992d4;
    color: white;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    cursor:pointer;
}

button:hover {
    background-color: #91cdff;
}

.main-content {
    padding: 1rem 2rem;
    grid-area: main;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1.5rem;
}

.main-content h2 {
    font-weight: 500;
}

.projects {
    margin-top: 4.2rem;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    align-content: start;
    position: relative;
}

.projects h2 {
    position: absolute;
    top: -4.2rem;
}

.card,
.container {
    background-color: white;
    border-radius: 10px;
}

.card {
    height: 250px;
    display: flex;
}

.card-left-border {
    flex: 1 0 auto;
    width: .75rem;
    background-color: #91cdff;
    border-radius: 10px 0 0 10px;
}

.card-content {
    padding: 1rem 2rem;
    position: relative;
}

.card-content .title {
    font-weight: 700;
}

.card-icons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}

.container {
    padding: 1.5rem 2rem;
}